/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
}

nav a {
  color: #c0c0c0;
  text-decoration: none;
  margin: 5px;
}

nav a:hover {
  color: #90a0c0;
  text-decoration: none;
  margin: 5px;
}

.active {
  color: #70b0e0;
  text-decoration: none;
  margin: 5px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(#ffffff, #c0c0c0);
  padding: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
}

/* Robot Displays Styling */

.all-robots {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.single-robot {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;

  background: seashell;
  padding: 5px;
  width: 280px;
  height: 180px;
  border: 1px solid silver;
  margin-top: 10px;
}

.robot-bio-data {
  background: papayawhip;
  padding: 2px;
  border: 1px solid silver;
  margin: 5px;
  padding: 5px;
  width: auto;
  line-height: 35px;
  color: darkslategrey;
  font-weight: bold;
  font-size: 2em;
  text-align: center;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.robot-name a{
  text-decoration: none;
  color: midnightblue;
}

.robot-name a:hover{
  text-decoration: none;
  color: indigo;
}

.robot-details {
  font-size: 0.9em;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-around;
  align-items: center;
}

/* Projects Displays Styling */

.robots-section h4, .projects-section h4{
  text-align: center;
}

.all-projects {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.single-project {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;

  background: lavenderblush;
  padding: 5px;
  width: 320px;
  height: 180px;
  border: 1px solid silver;
  margin-top: 10px;
}

.project-meta-data {
  background: lightsteelblue;
  padding: 2px;
  border: 1px solid silver;
  margin: 5px;
  padding: 5px;
  width: auto;
  line-height: 35px;
  color: darkslategrey;
  font-weight: bold;
  /* font-size: 2em; */
  text-align: center;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.project-status {
  flex-basis: 1;
  font-weight: bold;
  /* border: 1px solid silver; */
  font-size: 2em;
  align-self: right;
}

/* .status-text{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  color: white;
} */

.completed {
  color: forestgreen
}

.in-progress {
  color: maroon
}

.project-id {
  flex-basis: 2;
}

.project-title {
  flex-basis: 4;
}

.project-title  a{
  text-decoration: none;
  color: #042204;
}

.project-title  a:hover{
  text-decoration: none;
  color: #0b370b;
}


.project-details {
  font-size: 0.9em;
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: left;
}

.project-deadline {
  flex-basis: 1;
  margin: 2px;
  padding: 2px;
  border: 1px solid silver;
  width: auto;
  background-color: lightgray;
  justify-content: center;
}

.imminent{
  background-color: lightpink;
}

.today{
  background-color: lightsalmon;
}

.this-week{
  background-color: lightyellow;
}


.project-description {
  margin: 2px;
  padding: 2px;
  flex-basis: 4;
}
