/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
} 

nav a {
  color: #c0c0c0;
  text-decoration: none;
  margin: 5px;
}

nav a:hover {
  color: #90a0c0;
  text-decoration: none;
  margin: 5px;
}

nav a .active {
  color: #70b0e0;
  text-decoration: none;
  margin: 5px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(#ffffff, #c0c0c0);
  padding: 10px;
}

.avatar{
  width: 50px;
  height: 50px;
}

.all-robots {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.single-robot {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;

  background: seashell;
  padding: 5px;
  width: 280px;
  height: 180px;
  border: 1px solid silver;
  margin-top: 10px;
}

.robot-bio-data {
  background: papayawhip;
  padding: 2px;
  border: 1px solid silver;
  margin: 5px;
  padding: 5px;
  width: auto;
  line-height: 35px;
  color: darkslategrey;
  font-weight: bold;
  font-size: 2em;
  text-align: center;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.robot-details {

  font-size: 0.9em;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-around;
  align-items: center;
}

